<app-navbar></app-navbar>

<main class="main-tabla-page">
  <div class="contenedor-gestion">
    
    <!-- Aviso informativo superior -->
    <div class="notice-sesion">
      <p class="notice-sesion-texto">
        Explora y gestiona los clientes registrados en la plataforma de Restaurante El Wey.
      </p>
      <a [routerLink]="['/']" class="notice-sesion-btn">
        &larr; Volver al Inicio
      </a>
    </div>

    <!-- Barra de título y botón Crear -->
    <div class="barra-superior-gestion">
      <app-page-title></app-page-title>
      <div class="contenedor-btn-crear">
        <a [routerLink]="['/clientes/new']" class="btn-crear-cliente">
          + REGISTRAR CLIENTE
        </a>
      </div>
    </div>

    <!-- Subcomponente de Tabla con Inputs y Outputs -->
    <app-cliente-table
      [clienteArray]="clienteArray"
      (clienteDeleted)="eliminarCliente($event)"
    ></app-cliente-table>

  </div>
</main>

<app-calaveras></app-calaveras>
<app-footer></app-footer>
