<!-- =========================================================================
     SUBSECCION CON GRADIENTE (BANNER CTA)
     ========================================================================= -->
<section id="experiencia" class="subseccion-gradiente">
  <div class="contenedor-banner-cta">
    <img src="/images/logo_el_wey.jpg" alt="Logo de El Wey" width="120"
      height="120" class="logo-banner-cta" />
    <h2 class="titulo-banner-cta">
      ¿Listo para el sabor<br />
      que no olvidas?
    </h2>
    <p class="descripcion-banner-cta">
      Reserva tu mesa o pide a domicilio. El Wey te espera.
    </p>
    <div class="contenedor-botones-banner">
      <a [routerLink]="['/comidas/tarjetas']" class="btn-banner-blanco">
        Esperar Menú y Pedir
      </a>
      <a href="#nosotros" class="btn-banner-borde">
        Conocer Nuestra Tradición
      </a>
    </div>
  </div>
</section>
